* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
::selection{
  color: black;
  background-color: #fff;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
input:focus {
  outline: 0;
}
