$primary-color: #3498db;
$orange: #db3722;
$white: #fff;
$black: #000;
$voilet: #309baf;
$lightgrey: #cacaca;
$darkgrey: #a5a5a5;
$golden: #edaa29;
$grey: #fafafa;
$orange2:#db6f21;
$lightgrey2:#fafafa;
