@use "../abstracts/variables";
@use "../abstracts/mixins";

nav {
  ul {
    @include mixins.flex-space-bw;
    li {
      padding: 0 1em;
      a {
        color: variables.$white;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 300;
        position: relative;
        &:hover {
          color: variables.$voilet;
        }
        &::before {
          position: absolute;
          content: "";
          background-image: url("../assets/img/active.svg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 1rem;
          height: 1rem;
          left: -26px;
          top: 4px;
          opacity: 0;
        }
        &.active::before {
          opacity: 1;
        }
      }
    }
  }
}
