@use "../abstracts/mixins";
@use "../abstracts/variables";
footer {
  color: white;
  padding: 20rem 0 4em 0;
  background-image: url("../assets/img/footer-banner.png");
  @include mixins.bg-center-cover-no-repeat;
  background-position: unset;

  .container {
    @include mixins.flex-space-bw-end;
    max-width: 1700px;
    .copyright {
      border-radius: 30px;
      border: 0.5px solid #f5662e;
      padding: 0.5em 1em;
      color: #ffc68f;
    }
    div {
      ul {
        @include mixins.flex-space-bw;
        margin-top: 10px;

        li {
          border: 0.1em solid #f5662e;
          border-radius: 0.25em;
          @include mixins.flex-center;
          padding: 0.5em;

          &:hover {
            background-color: variables.$white;
            a {
              img {
                filter: brightness(1) invert(1);
              }
            }
          }
        }
      }
    }
    a,
    p {
      color: variables.$white;
      font-size: 1.1em;
      font-weight: 300;
      text-align: center;
    }
  }
}
