@use "../abstracts/mixins";
@use "../abstracts/variables";

.heroBanner {
  header {
    position: relative;
    padding: 3rem 1em 2em 1em;
    @include mixins.flex-space-bw;
    // width: 100%;
    z-index: 1000;
    // gap: 5rem;
    a.logo {
      width: 184px;
    }
    .hamburger {
      display: none;
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      z-index: 1100;
      position: relative;
      color: variables.$black;

      // This hides the original icon when open and shows × instead
      &::before {
        content: "☰"; // hamburger icon
        font-size: 2.5rem;
      }

      &.open::before {
        content: "×"; // cross icon
        font-size: 2.5rem;
      }
    }

    .mobileMenu {
      display: flex;
      ul {
        list-style: none;
        display: flex;
        gap: 2rem;

        li a {
          text-decoration: none;
          color: variables.$white;
          font-size: 1.2em;
        }
      }
    }

    .mobileRight {
      a {
        color: variables.$orange;
        background-color: variables.$white;
        border: 1px solid variables.$white;
        border-radius: 2em;
        padding: 0.7em 2.5em;
        font-size: 1.3em;
      }
    }
  }

  @media (max-width: 767px) {
    header {
      padding: 2rem 0;
      text-align: center;
      .hamburger {
        display: block;
        color: variables.$white;

        &.open {
          color: variables.$orange !important;
        }
      }

      .mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: variables.$white;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        padding: 2rem;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;

        ul {
          flex-direction: column;
          gap: 1.5rem;
          justify-content: unset;
          align-items: start;
          margin-top: 5rem;

          li a {
            color: variables.$black;
            font-size: 1.5rem;
          }
        }

        &.open {
          transform: translateX(0);
          visibility: visible;
          opacity: 1;
        }
      }

      .mobileRight {
        a {
          padding: 0.5rem 1rem;
          font-weight: 500;
        }
      }
      img {
        width: 80%;
      }
    }
  }
}
