@use "../abstracts/mixins";
@use "../abstracts/variables";

.heroBanner {
  header {
    padding: 3rem 1em 2em 1em;
    @include mixins.flex-space-bw;
    width: 100%;
    .hamburger {
      display: none;
    }
    .mobileRight {
      a {
        color: variables.$orange;
        background-color: variables.$white;
        border: 1px solid variables.$white;
        border-radius: 2em;
        padding: 0.5em 2em;
        font-size: 1.3em;
      }
    }
  }
}
//MEIDA QUERY

@media (max-width: 768px) {
  .heroBanner {
    header {
      .hamburger {
        display: block;
      }
    }
  }
}
