@use "../abstracts/mixins";
@use "../abstracts/variables";

main {
  // img {
  //   width: 100%;
  // }
  //****HERO SECTION****//
  .heroBanner {
    background-image: url("../assets/img/hero-banner.png");
    @include mixins.bg-center-cover-no-repeat;
    position: relative;
    .objects {
      img {
        position: absolute;
      }
      img:first-child {
        top: 10%;
        left: -320px;
      }
      img:nth-child(2) {
        bottom: 0;
        left: 250px;
      }
      img:nth-child(3) {
        bottom: 0;
        right: 0;
      }
      img:nth-child(4) {
        top: 300px;
        right: 100px;
      }
    }
    .heroBannerContent {
      @include mixins.flex-center;
      flex-direction: column;
      gap: 1em;
      padding: 8rem 10em;
      text-align: center;
      h1 {
        font-size: clamp(2rem, 1.3846rem + 3.0769vw, 6rem);
        color: variables.$white;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.2em;
      }
      p {
        font-size: clamp(1rem, 0.8769rem + 0.6154vw, 1.8rem);
        color: variables.$white;
        font-weight: 200;
        width: 60%;
        line-height: 1.6em;
        margin-bottom: 2em;
      }
      a {
        border: 2px solid variables.$white;
        border-radius: 2em;
        padding: 0.7em 1.2em;
        color: variables.$white;
        font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
        font-weight: 200;
        @include mixins.anchorEffects;
      }
      .scrollMouse {
        margin-top: 2rem;
        position: relative;
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
        cursor: pointer;
        &::before {
          position: absolute;
          content: "";
          background-color: #ccc9ca;
          width: 1px;
          height: 130px;
          margin: 0 auto;
          left: 0;
          right: 0;
          top: 105px;
        }
      }
    }
  }
  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  //****ABOUT SECTION*****//
  .aboutUs {
    display: grid;
    grid-template-columns: 200px minmax(150px, 1fr) 120px;
    // align-items: center;
    gap: 10em;
    text-align: center;
    padding: 7em 0 0 0;

    h2 {
      font-size: clamp(1.625rem, 1.3462rem + 1.3942vw, 3.4375rem);
      // white-space: pre-line;
      color: variables.$voilet;
      font-weight: 600;
      line-height: 1.2em;
      span {
        color: variables.$lightgrey;
        font-weight: 500;
      }
    }
    p {
      font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
      // color: variables.$darkgrey;
      font-weight: 300;
      line-height: 2em;
      margin-top: 1em;
      margin-bottom: 2em;
    }
    a {
      color: variables.$orange;
      text-decoration: underline;
    }
  }
  .aboutUs2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 7em 0 2em 0;
    align-items: center;
    grid-row-gap: 10px;
    border-bottom: 1px solid variables.$lightgrey;

    .aboutUs2Content {
      background-color: variables.$grey;
      padding: 3em;
      border-radius: 1em;

      .subText {
        color: variables.$orange;
        font-size: clamp(1.2rem, 0.9692rem + 0.1538vw, 1.5rem);

        font-weight: 600;
      }
      h2 {
        font-size: clamp(1.5rem, 1.2692rem + 1.1538vw, 3rem);
        // white-space: pre-line;
        color: variables.$darkgrey;
        font-weight: 500;
        line-height: 1.2em;
        margin-top: 0.7em;
        padding-right: 4.5em;
      }
      p {
        font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
        color: variables.$darkgrey;
        font-weight: 400;
        line-height: 1.5em;
        margin-top: 1em;
      }
      /* Basic styles */
      .feature-wrapper {
        padding: 20px;
        text-align: center;
      }

      .feature-tabs {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 20px;
      }

      .tab-btn {
        background: #eee;
        border: none;
        border-radius: 50%;
        padding: 10px;
        opacity: 0.5;
      }

      .tab-btn.active {
        background: #d33;
        opacity: 1;
      }

      .features {
        display: flex;
        flex-direction: column;
        gap: 5.4em;
        margin-top: 2em;
        #feature1 {
          span {
            background-color: variables.$orange;
            width: 75px;
            height: 55px;
            @include mixins.flex-center;
            margin: 0 auto;
            border-radius: 2em;
          }
          h3 {
            font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
            color: variables.$orange;
            margin: 0.8em 0 0.5em;
          }
        }
        #feature2 {
          span {
            background-color: variables.$golden;
            width: 75px;
            height: 55px;
            @include mixins.flex-center;
            margin: 0 auto;
            border-radius: 2em;
          }
          h3 {
            font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
            color: variables.$golden;
            margin: 0.8em 0 0.5em;
          }
        }
        #feature3 {
          span {
            background-color: variables.$voilet;
            width: 75px;
            height: 55px;
            @include mixins.flex-center;
            margin: 0 auto;
            border-radius: 2em;
          }
          h3 {
            font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
            color: variables.$voilet;
            margin: 0.8em 0 0.5em;
          }
        }
      }

      .feature-box {
        display: none;
        max-width: 300px;
      }

      .feature-box.active {
        display: block;
      }

      /* Desktop layout */
      @media (min-width: 768px) {
        .feature-tabs {
          display: none;
        }

        .features {
          flex-direction: row;
          justify-content: space-around;
        }

        .feature-box {
          display: block !important;
        }
      }
    }
    .mission {
      span {
        color: variables.$darkgrey;
        font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
        font-weight: 600;
      }
      .imgContent {
        @include mixins.flex-center;
        margin-bottom: 4em;

        h3 {
          font-size: clamp(1.2rem, 1.1538rem + 0.2308vw, 1.5rem);
          color: variables.$voilet;
          margin: 0.8em 0 0.5em;
          font-weight: 500;
        }
        p {
          font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
          color: variables.$darkgrey;
          font-weight: 400;
          line-height: 1.5em;
          margin-top: 1em;
        }
      }
      .features-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.5em 0 0 0;
        margin: 0;
        max-width: 900px;
        li {
          flex: 1 1 48%;
          position: relative;
          font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
          font-weight: 400;
          padding: 0em 0 0.5rem 2em;
          font-weight: 300;
          &::before {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 8px;
            border: 2px solid variables.$white;
          }
          /* Different bullet colors */
          &.red::before {
            border-color: variables.$orange;
          }
          &.blue::before {
            border-color: variables.$voilet;
          }
          &.orange::before {
            border-color: variables.$golden;
          }
          &.gray::before {
            border-color: variables.$darkgrey;
          }
        }
      }
    }
  }
  //****OUR SERVICES SECTION****//
  .ourServices {
    text-align: center;
    padding-top: 5em;
    .subText {
      color: variables.$orange;
      font-size: clamp(1.2rem, 1.1538rem + 0.2308vw, 1.5rem) !important;
      font-weight: 600;
    }
    h2 {
      font-size: clamp(1.5rem, 1.2692rem + 1.1538vw, 3rem);
      // white-space: pre-line;
      color: variables.$voilet;
      font-weight: 600;
      line-height: 1.2em;
      margin-top: 0.7em;
      text-align: center;
    }
    .ourServicesContent {
      @include mixins.flex-center;
      text-align: left;
      h3 {
        font-size: clamp(1.2rem, 1.1538rem + 0.2308vw, 1.5rem);
        color: variables.$darkgrey;
        margin: 0.8em 0 0.5em;
        font-weight: 600;
      }
      p {
        font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
        color: variables.$darkgrey;
        font-weight: 400;
        line-height: 1.8em;
        white-space: pre-line;
        margin-top: -2em;
      }
    }
    .serviceList,
    .serviceListMob {
      @include mixins.flex-center;
      gap: 1em;
      .item {
        border: 1px solid variables.$lightgrey;
        border-radius: 2em;
        padding: 2em 2em;
        width: 20%;
        span {
          background-color: variables.$orange;
          width: 75px;
          height: 55px;
          @include mixins.flex-center;
          margin: 0 auto;
          border-radius: 2em;
        }
        h3 {
          font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
          color: variables.$orange;
          margin: 0.8em 0 0.5em;
        }
      }
      .item:nth-child(2) {
        span {
          background-color: variables.$orange2;
        }
        h3 {
          color: variables.$orange2;
        }
      }
      .item:nth-child(3) {
        span {
          background-color: variables.$voilet;
        }
        h3 {
          color: variables.$voilet;
        }
      }
      .item:nth-child(4) {
        span {
          background-color: variables.$golden;
        }
        h3 {
          color: variables.$golden;
        }
      }
    }
  }
  //****PRICING SECTION****//
  .bg-grey {
    background-color: variables.$lightgrey2;
    margin-top: 10em;
    margin-bottom: 2em;
    padding: 5em 0;
  }
  .pricing {
    .imgContent {
      @include mixins.flex-center;
      margin-bottom: 4em;
      padding: 0em 0 3em 0;
      border-bottom: 1px solid variables.$lightgrey;
      span {
        color: variables.$orange;
        font-size: clamp(1.2rem, 1.1538rem + 0.2308vw, 1.5rem);
        font-weight: 600;
      }
      h2 {
        font-size: clamp(1.5rem, 1.2692rem + 1.1538vw, 3rem);
        color: variables.$darkgrey;
        font-weight: 600;
        line-height: 1.2em;
        margin-top: 0.7em;
      }
      p {
        font-size: clamp(1.2rem, 1.1538rem + 0.2308vw, 1.5rem);
        color: variables.$darkgrey;
        font-weight: 400;
        line-height: 1.5em;
        margin-top: 1em;
      }
    }
    //Pricing Table
    .pricingTable {
      text-align: center;
      p {
        font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
        font-weight: 300;
        line-height: 1.5em;
      }

      .pricing-container {
        @include mixins.flex-center;
        margin: 3em 0;
        .plan {
          background: variables.$white;
          border-radius: 10px;
          padding: 1.5rem;
          width: 375px;
          text-align: center;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          position: relative;
          // overflow: hidden;
          z-index: 1;
          display: block !important;
          .firstSec {
            @include mixins.flex-space-bw;
            align-items: start;
            text-align: left;
            padding: 0 1em;
            h2 {
              margin: 0;
              font-size: clamp(1.2rem, 1.1538rem + 0.2308vw, 1.5rem);
            }

            .description {
              font-size: clamp(1rem, 1.2692rem + 1.1538vw, 1.2rem);
              color: variables.$darkgrey;
              margin-bottom: 1rem;
              font-weight: 400;
            }
          }

          .price {
            position: relative;
            border-style: solid;
            border-width: 2px;
            border-radius: 6px;
            box-shadow: 1.359px 12.929px 9px 0px rgba(90, 90, 90, 0.19);
            width: 405px;
            height: 104px;
            z-index: 189;
            left: -38px;
            display: flex;
            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-left: 12px solid transparent;
              border-right: 2px solid transparent;
              border-bottom: 10px solid #575454;
              left: -1px;
              top: -10px;
            }

            &::after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-left: 0px solid transparent;
              border-right: 12px solid transparent;
              border-bottom: 10px solid #575454;
              right: 2px;
              top: -10px;
            }
            p {
              @include mixins.flex-center;
              margin: 0 auto;
              width: 98%;
              gap: 0.5em;
              .currency {
                font-size: clamp(1rem, 1.2692rem + 1.1538vw, 1.2rem);
                vertical-align: super;
                color: variables.$white;
                font-weight: 500;
              }
              .amount {
                color: variables.$white !important;
                font-size: clamp(1.5rem, 1.2692rem + 1.1538vw, 3rem);
                font-weight: bold;
              }
              .unit {
                font-size: clamp(1rem, 1.2692rem + 1.1538vw, 1.2rem);
                margin-left: 0.25rem;
                color: variables.$white;
                font-weight: 500;
                vertical-align: sub;
              }
            }
          }

          .features {
            list-style: none;
            padding: 0;
            text-align: center;
            margin: 1.5em 0;

            li {
              margin: 0 0 2rem 0;
              &:before {
                content: "\2713";
                color: variables.$voilet;
                margin-right: 0.5rem;
                font-weight: bold;
              }
            }
          }

          .selectPlan {
            border-top: 1px solid variables.$darkgrey;

            button {
              margin-top: 1em;
              padding: 1rem 1rem;
              border-radius: 0.8em;
              font-weight: bold;
              cursor: pointer;
              transition: 0.3s;
              width: 100%;
              font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
              background-color: transparent;
              border: 1px solid transparent;
              // &:hover {
              //   background-color: currentColor;
              // }
            }
          }
        }
      }

      .silver {
        h2 {
          color: variables.$orange;
        }
        .price {
          color: variables.$white;
          background-color: variables.$orange;
          border-color: #9f1c0b !important;
          p {
            border-top: 2px solid #ffcec8;
          }
        }

        .selectPlan {
          button {
            border-color: variables.$orange !important;
            color: variables.$orange;
          }
        }
      }

      .diamond {
        background-color: #f6fcff !important;
        transform: scale(1.05);
        z-index: 2 !important;
        .firstSec {
          h2 {
            color: variables.$voilet;
          }
        }
        .price {
          color: variables.$white;
          background-color: variables.$voilet;
          border-color: #1d7e90 !important;
          p {
            border-top: 2px solid #c3f6ff;
          }
        }

        .selectPlan {
          button {
            border-color: variables.$voilet !important;
            color: variables.$voilet;
            background-color: #fefbf4;
          }
        }

        .mostPopular {
          margin-bottom: 3em;
          a {
            background: #2e2f77;
            color: white;
            padding: 0.5em 1.2em;
            border-radius: 20px;
            font-weight: 300;
            box-shadow: 0 10px 10px #d3d7da;
          }
        }
      }

      .gold {
        .firstSec {
          h2 {
            color: variables.$golden;
          }
        }
        .price {
          background-color: variables.$golden !important;
          border-color: #bf9139 !important;
          p {
            border-top: 2px solid #f9eacb;
          }
        }

        .selectPlan {
          button {
            border-color: variables.$golden !important;
            color: variables.$golden;
          }
        }
      }

      .customPlanNote {
        p {
          padding: 0.5em 1.2em;
          border: 1px solid variables.$golden;
          border-radius: 1em;
          background-color: #f9f6ef;
          width: 910px;
          margin: 0 auto;
          @include mixins.flex-center;
          gap: 1em;
          a {
            background-color: #eff1ec;
            color: variables.$voilet;
            border: 1px solid variables.$voilet;
            border-radius: 0.5em;
            padding: 0.5em 0.7em;
            font-weight: 600;
          }
        }
      }
    }
  }
  //WORK
  .work {
    p {
      color: variables.$orange;
      font-size: clamp(1.2rem, 1.1538rem + 0.2308vw, 1.5rem);
      font-weight: 600;
      text-align: center;
    }
    .workContent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 5em 0 0 0;
      h2 {
        font-size: clamp(1.5rem, 1.2692rem + 1.1538vw, 3rem);
        color: variables.$golden;
        font-weight: 400;
        line-height: 1.2em;
        margin-top: 0.7em;
        margin-bottom: 1em;
      }
      h3 {
        font-size: clamp(1.5rem, 1.2692rem + 1.1538vw, 3rem);
        color: variables.$darkgrey;
        font-weight: 400;
        line-height: 1.2em;
        margin-top: 1em;
      }
      .portfolio {
        ul {
          text-align: center;
          li {
            grid-template-columns: 1fr 1fr;
            @include mixins.flex-center;
            gap: 0.5em;
            padding-bottom: 0.5em;
            img {
              transform: scale(0) translateY(100px);
              opacity: 0;
              position: relative;
              transition: all 0.3s ease;
            }
          }
          li:nth-child(2),
          li:nth-child(3) {
            // grid-template-columns: 1fr 1fr 1fr;
            @include mixins.flex-center;
            padding: 0 6em;
          }
          li:nth-child(3) {
            padding: 0 12em;
          }
          li:last-child {
            padding: 0 21em;
          }
        }
        p {
          font-size: clamp(1rem, 1.1538rem + 0.2308vw, 1.2rem) !important;
          color: variables.$black;
          font-weight: 400;
          margin-top: 1em;
        }
        .lamp {
          margin: 0 auto;
          display: block;
          margin-top: 1em;
        }
      }
    }
  }
  .btm {
    padding: 0em 0 3em 0;
    border-bottom: 1px solid variables.$lightgrey;
  }
  //CONTACT
  .contact {
    text-align: center;
    padding-top: 5em;
    span {
      color: variables.$orange;
      font-size: clamp(1.2rem, 1.1538rem + 0.2308vw, 1.5rem) !important;
      font-weight: 600;
    }
    h2 {
      font-size: clamp(1.5rem, 1.2692rem + 1.1538vw, 3rem);
      // white-space: pre-line;
      color: variables.$voilet;
      font-weight: 600;
      line-height: 1.2em;
      margin-top: 0.7em;
      text-align: center;
      margin-bottom: 2em;
    }
    .form {
      @include mixins.grid-stretch;
      grid-template-columns: minmax(200px, 500px) 1fr;
      article {
        background-image: url("../assets/img/contact.png");
        @include mixins.bg-center-cover-no-repeat;
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        padding: 2rem 5rem;
        h3 {
          font-size: 2rem;
          color: variables.$white;
          font-weight: 400;
          line-height: 1.5em;
          margin-bottom: 2em;
        }
        a {
          color: variables.$white;
          @include mixins.flex-center;
          gap: 1em;
          font-size: 1.33rem;
        }
      }
      .inner {
        padding: 3em;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 2em;
        border: 1px solid variables.$lightgrey;
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        border-left: 0;
        p {
          text-align: left;
          color: #494949;
        }
        .form-container {
          .form-section {
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: minmax(auto, 15%) minmax(auto, 85%);
            align-items: center;
            .form-section-label {
              font-size: 14px;
              color: #666;
              margin-bottom: 10px;
            }
            .option-group {
              display: flex;
              gap: 8px;
              .option-btn {
                flex: 1;
                padding: 15px 10px;
                border: 1px solid #ddd;
                border-radius: 10px;
                background: white;
                font-size: 14px;
                color: #333;
                cursor: pointer;
                text-align: center;
                &.selected {
                  border-color: #2aacb9;
                  color: #2aacb9;
                }
              }
            }
          }
          .basic-info {
            margin-top: 30px;
            margin-bottom: 20px;
            .basic-info-header {
              @include mixins.flex-center;
              justify-content: start;
              margin-bottom: 25px;
              color: #888;
              font-size: 14px;
              svg {
                margin-right: 8px;
              }
            }
          }
          .input-group {
            flex: 1;
            position: relative;
            margin-bottom: 35px;
            display: grid;
            grid-template-columns: minmax(auto, 15%) minmax(auto, 85%);
            align-items: center;
            input,
            textarea {
              width: 100%;
              border: none;
              border-bottom: 1px solid #ddd;
              padding: 5px 0;
              font-size: 14px;
              outline: none;
              background: transparent;
              &:focus {
                border-bottom-color: variables.$voilet;
              }
            }
            label {
              display: block;
              color: #666;
              font-size: 14px;
            }
          }

          .send-btn {
            background-color: variables.$voilet;
            color: variables.$white;
            border: none;
            border-radius: 0.7em;
            padding: 0.8em 1em;
            width: 200px;
            font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.2rem);
            cursor: pointer;
            margin-top: 10px;
            &:hover {
              background-color: variables.$orange;
            }
          }

          /* Hide mobile dropdown by default */
          .option-dropdown {
            display: none;
          }
        }

        .input-row {
          display: flex;
          gap: 15px;
          margin-bottom: 20px;
          .input-group:first-child,
          .input-group:nth-child(2) {
            flex: 1;
            position: relative;
            margin-bottom: 15px;
            display: grid;
            grid-template-columns: minmax(auto, 31%) minmax(auto, 68%);
            align-items: center;
          }
        }
      }
    }
  }
  .slider,
  .mobilePlanSelector,
  .serviceListMob {
    display: none !important;
  }

  .serviceListMob ul.slick-dots {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 110%;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .serviceListMob ul.slick-dots button {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    font-size: 0;
    background-color: #d6d6d6;
    border: 0;
  }

  .serviceListMob ul.slick-dots .slick-active button {
    background-color: variables.$voilet !important;
  }

  @media (max-width: 768px) {
    img {
      width: 100%;
    }
    .heroBanner {
      .objects {
        img:nth-child(2) {
          bottom: 35px;
          left: -380px;
        }
        img:nth-child(3) {
          right: 0;
        }
        .object4 {
          display: none;
        }
      }
    }
    .aboutUs,
    .aboutUs2 {
      grid-template-columns: 1fr;
      .mission {
        .features-list {
          grid-template-columns: 1fr;
        }
      }
    }
    .work {
      .workContent {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
        div:first-child {
          img {
            width: 200px;
          }
        }
        .portfolio {
          ul {
            li {
              padding: 0.5em !important;
              img {
                width: 100px;
              }
            }
          }
          .lamp {
            width: auto;
          }
        }
      }
    }
    .aboutUs2 {
      .aboutUs2Content {
        h2 {
          padding-right: 0 !important;
        }
      }
      .mission {
        .imgContent {
          flex-direction: column;
        }
      }
    }

    .ourServices {
      .ourServicesContent {
        flex-direction: column;
        text-align: center;
      }
    }

    .serviceList {
      display: none !important;
      // overflow-x: auto;
      // scroll-snap-type: x mandatory;
      // display: flex;
      // flex-wrap: nowrap;
      // gap: 1rem;
      // padding: 0; /* ✅ remove padding here */
      // scroll-padding-left: 10rem; /* ✅ ensure scroll starts from first item */
      div {
        span {
          img {
            width: auto;
          }
        }
      }
    }

    .serviceListMob {
      display: block !important;
      img {
        width: auto;
      }
    }
    main .serviceList > div:last-child {
      margin-right: 1rem; /* ✅ spacing at end */
    }

    .serviceList::-webkit-scrollbar {
      display: none; /* hide scrollbar for cleaner mobile look */
    }

    .slider-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
    }

    .slider-controls button {
      font-size: 24px;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    .dots {
      display: flex;
      gap: 6px;
    }

    .dots span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ccc;
      display: block;
      cursor: pointer;
    }

    .dots span.active {
      background: #333;
    }

    .pricing {
      .imgContent {
        flex-direction: column;
      }
      .pricingTable {
        .customPlanNote {
          p {
            flex-direction: column;
            width: 100%;
          }
        }
      }
      .firstSec {
        img {
          width: auto;
        }
      }
    }
    .contact {
      .form {
        grid-template-columns: 1fr;
        gap: 2rem;
        article {
          order: 2;
          border-radius: 2rem;
        }
        .inner {
          border-radius: 2rem;
          border-left: 2px solid #cacaca;
          .input-row {
            flex-direction: column;
            .input-group {
              grid-template-columns: 1fr !important;
            }
          }
          .form-container {
            .input-group {
              grid-template-columns: 1fr !important;
            }
            .form-section {
              grid-template-columns: 1fr;
              .option-group {
                flex-direction: column;
              }
            }
            #select-services,
            #plan-budget,
            #selected-plan {
              display: none !important;
            }
            .option-dropdown {
              display: block;
              select {
                border-radius: 10px;
                padding: 1rem 2rem;
                width: 100%;
                -moz-appearance: none; /* Firefox */
                -webkit-appearance: none; /* Safari and Chrome */
                appearance: none;
                background: transparent;
                background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                background-repeat: no-repeat;
                background-position-x: 93%;
                background-position-y: 11px;
              }
            }
          }
          p {
            img {
              width: auto;
            }
          }
        }
      }
    }
    .slider {
      position: relative;
      width: 600px;
      height: 300px;
      overflow: hidden;
      margin: auto;
      .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        .slide {
          min-width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }
    }

    .pricing-container {
      flex-direction: column;
      align-items: center;
    }

    .mobilePlanSelector {
      display: block;
      width: 100%;
      margin-bottom: 2em;
      text-align: center;

      select {
        font-size: 1.1rem;
        padding: 0.5em 1em;
        border-radius: 8px;
        border: 1px solid #ccc;
      }
    }
    img {
    }
  }
}
@media (max-width: 768px) {
  footer {
    .container {
      flex-direction: column;
      align-items: center;
      gap: 2em;
      .copyright {
        order: 2;
      }
      #backToTop {
        display: none;
      }
    }
  }
}
